services:
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: wasimdevops1/catalogue:v1
    container_name: catalogue
    depends_on: 
    - mongodb
  mongodb:
    build: ./mongodb
    image: wasimdevops1/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  mysql:
    build: ./mysql
    image: wasimdevops1/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  cart:
    build: ./cart
    image: wasimdevops1/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  user:
    build: ./user
    image: wasimdevops1/user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  shipping:
    build: ./shipping
    image: wasimdevops1/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: wasimdevops1/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend
    image: wasimdevops1/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:    
    - mongodb
    - redis
    - rabbitmq
    - mysql
    - catalogue
    - user
    - cart
    - shipping
    - payment

networks:
  default:
    driver: bridge
    name: roboshop
    external: false # it should be true if the network is already created manually by you.

volumes:
  mongodb: #docker volume creates mongodb volume
  redis:
  rabbitmq:
  mysql:



  
